@import "../../utils/styles/color-palettes.scss";

.container {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient($COLOR-PALETTE-PURPLE-600, $COLOR-PALETTE-PURPLE-500);
  color: $COLOR-PALETTE-WHITE;

  > .title {
    font-size: 2.4rem;
  }

  > .subTitle {
    font-size: 1.4rem;
  }
}
