$COLOR-PALETTE-WHITE:  #fff;
$COLOR-PALETTE-BLACK:  #000;

$COLOR-PALETTE-RED-50:   #ffebee;
$COLOR-PALETTE-RED-100:  #ffcdd2;
$COLOR-PALETTE-RED-200:  #ef9a9a;
$COLOR-PALETTE-RED-300:  #e57373;
$COLOR-PALETTE-RED-400:  #ef5350;
$COLOR-PALETTE-RED-500:  #f44336;
$COLOR-PALETTE-RED-600:  #e53935;
$COLOR-PALETTE-RED-700:  #d32f2f;
$COLOR-PALETTE-RED-800:  #c62828;
$COLOR-PALETTE-RED-900:  #b71c1c;
$COLOR-PALETTE-RED-A100: #ff8a80;
$COLOR-PALETTE-RED-A200: #ff5252;
$COLOR-PALETTE-RED-A400: #ff1744;
$COLOR-PALETTE-RED-A700: #d50000;

$COLOR-PALETTE-PINK-50:   #fce4ec;
$COLOR-PALETTE-PINK-100:  #f8bbd0;
$COLOR-PALETTE-PINK-200:  #f48fb1;
$COLOR-PALETTE-PINK-300:  #f06292;
$COLOR-PALETTE-PINK-400:  #ec407a;
$COLOR-PALETTE-PINK-500:  #e91e63;
$COLOR-PALETTE-PINK-600:  #d81b60;
$COLOR-PALETTE-PINK-700:  #c2185b;
$COLOR-PALETTE-PINK-800:  #ad1457;
$COLOR-PALETTE-PINK-900:  #880e4f;
$COLOR-PALETTE-PINK-A100: #ff80ab;
$COLOR-PALETTE-PINK-A200: #ff4081;
$COLOR-PALETTE-PINK-A400: #f50057;
$COLOR-PALETTE-PINK-A700: #c51162;

$COLOR-PALETTE-PURPLE-50:   #f3e5f5;
$COLOR-PALETTE-PURPLE-100:  #e1bee7;
$COLOR-PALETTE-PURPLE-200:  #ce93d8;
$COLOR-PALETTE-PURPLE-300:  #ba68c8;
$COLOR-PALETTE-PURPLE-400:  #ab47bc;
$COLOR-PALETTE-PURPLE-500:  #9c27b0;
$COLOR-PALETTE-PURPLE-600:  #8e24aa;
$COLOR-PALETTE-PURPLE-700:  #7b1fa2;
$COLOR-PALETTE-PURPLE-800:  #6a1b9a;
$COLOR-PALETTE-PURPLE-900:  #4a148c;
$COLOR-PALETTE-PURPLE-A100: #ea80fc;
$COLOR-PALETTE-PURPLE-A200: #e040fb;
$COLOR-PALETTE-PURPLE-A400: #d500f9;
$COLOR-PALETTE-PURPLE-A700: #a0f;

$COLOR-PALETTE-DEEP-PURPLE-50:   #ede7f6;
$COLOR-PALETTE-DEEP-PURPLE-100:  #d1c4e9;
$COLOR-PALETTE-DEEP-PURPLE-200:  #b39ddb;
$COLOR-PALETTE-DEEP-PURPLE-300:  #9575cd;
$COLOR-PALETTE-DEEP-PURPLE-400:  #7e57c2;
$COLOR-PALETTE-DEEP-PURPLE-500:  #673ab7;
$COLOR-PALETTE-DEEP-PURPLE-600:  #5e35b1;
$COLOR-PALETTE-DEEP-PURPLE-700:  #512da8;
$COLOR-PALETTE-DEEP-PURPLE-800:  #4527a0;
$COLOR-PALETTE-DEEP-PURPLE-900:  #311b92;
$COLOR-PALETTE-DEEP-PURPLE-A100: #b388ff;
$COLOR-PALETTE-DEEP-PURPLE-A200: #7c4dff;
$COLOR-PALETTE-DEEP-PURPLE-A400: #651fff;
$COLOR-PALETTE-DEEP-PURPLE-A700: #6200ea;

$COLOR-PALETTE-INDIGO-50:   #e8eaf6;
$COLOR-PALETTE-INDIGO-100:  #c5cae9;
$COLOR-PALETTE-INDIGO-200:  #9fa8da;
$COLOR-PALETTE-INDIGO-300:  #7986cb;
$COLOR-PALETTE-INDIGO-400:  #5c6bc0;
$COLOR-PALETTE-INDIGO-500:  #3f51b5;
$COLOR-PALETTE-INDIGO-600:  #3949ab;
$COLOR-PALETTE-INDIGO-700:  #303f9f;
$COLOR-PALETTE-INDIGO-800:  #283593;
$COLOR-PALETTE-INDIGO-900:  #1a237e;
$COLOR-PALETTE-INDIGO-A100: #8c9eff;
$COLOR-PALETTE-INDIGO-A200: #536dfe;
$COLOR-PALETTE-INDIGO-A400: #3d5afe;
$COLOR-PALETTE-INDIGO-A700: #304ffe;

$COLOR-PALETTE-BLUE-50:   #e3f2fd;
$COLOR-PALETTE-BLUE-100:  #bbdefb;
$COLOR-PALETTE-BLUE-200:  #90caf9;
$COLOR-PALETTE-BLUE-300:  #64b5f6;
$COLOR-PALETTE-BLUE-400:  #42a5f5;
$COLOR-PALETTE-BLUE-500:  #2196f3;
$COLOR-PALETTE-BLUE-600:  #1e88e5;
$COLOR-PALETTE-BLUE-700:  #1976d2;
$COLOR-PALETTE-BLUE-800:  #1565c0;
$COLOR-PALETTE-BLUE-900:  #0d47a1;
$COLOR-PALETTE-BLUE-A100: #82b1ff;
$COLOR-PALETTE-BLUE-A200: #448aff;
$COLOR-PALETTE-BLUE-A400: #2979ff;
$COLOR-PALETTE-BLUE-A700: #2962ff;

$COLOR-PALETTE-LIGHT-BLUE-50:   #e1f5fe;
$COLOR-PALETTE-LIGHT-BLUE-100:  #b3e5fc;
$COLOR-PALETTE-LIGHT-BLUE-200:  #81d4fa;
$COLOR-PALETTE-LIGHT-BLUE-300:  #4fc3f7;
$COLOR-PALETTE-LIGHT-BLUE-400:  #29b6f6;
$COLOR-PALETTE-LIGHT-BLUE-500:  #03a9f4;
$COLOR-PALETTE-LIGHT-BLUE-600:  #039be5;
$COLOR-PALETTE-LIGHT-BLUE-700:  #0288d1;
$COLOR-PALETTE-LIGHT-BLUE-800:  #0277bd;
$COLOR-PALETTE-LIGHT-BLUE-900:  #01579b;
$COLOR-PALETTE-LIGHT-BLUE-A100: #80d8ff;
$COLOR-PALETTE-LIGHT-BLUE-A200: #40c4ff;
$COLOR-PALETTE-LIGHT-BLUE-A400: #00b0ff;
$COLOR-PALETTE-LIGHT-BLUE-A700: #0091ea;

$COLOR-PALETTE-CYAN-50:   #e0f7fa;
$COLOR-PALETTE-CYAN-100:  #b2ebf2;
$COLOR-PALETTE-CYAN-200:  #80deea;
$COLOR-PALETTE-CYAN-300:  #4dd0e1;
$COLOR-PALETTE-CYAN-400:  #26c6da;
$COLOR-PALETTE-CYAN-500:  #00bcd4;
$COLOR-PALETTE-CYAN-600:  #00acc1;
$COLOR-PALETTE-CYAN-700:  #0097a7;
$COLOR-PALETTE-CYAN-800:  #00838f;
$COLOR-PALETTE-CYAN-900:  #006064;
$COLOR-PALETTE-CYAN-A100: #84ffff;
$COLOR-PALETTE-CYAN-A200: #18ffff;
$COLOR-PALETTE-CYAN-A400: #00e5ff;
$COLOR-PALETTE-CYAN-A700: #00b8d4;

$COLOR-PALETTE-TEAL-50:   #e0f2f1;
$COLOR-PALETTE-TEAL-100:  #b2dfdb;
$COLOR-PALETTE-TEAL-200:  #80cbc4;
$COLOR-PALETTE-TEAL-300:  #4db6ac;
$COLOR-PALETTE-TEAL-400:  #26a69a;
$COLOR-PALETTE-TEAL-500:  #009688;
$COLOR-PALETTE-TEAL-600:  #00897b;
$COLOR-PALETTE-TEAL-700:  #00796b;
$COLOR-PALETTE-TEAL-800:  #00695c;
$COLOR-PALETTE-TEAL-900:  #004d40;
$COLOR-PALETTE-TEAL-A100: #a7ffeb;
$COLOR-PALETTE-TEAL-A200: #64ffda;
$COLOR-PALETTE-TEAL-A400: #1de9b6;
$COLOR-PALETTE-TEAL-A700: #00bfa5;

$COLOR-PALETTE-GREEN-50:   #e8f5e9;
$COLOR-PALETTE-GREEN-100:  #c8e6c9;
$COLOR-PALETTE-GREEN-200:  #a5d6a7;
$COLOR-PALETTE-GREEN-300:  #81c784;
$COLOR-PALETTE-GREEN-400:  #66bb6a;
$COLOR-PALETTE-GREEN-500:  #4caf50;
$COLOR-PALETTE-GREEN-600:  #43a047;
$COLOR-PALETTE-GREEN-700:  #388e3c;
$COLOR-PALETTE-GREEN-800:  #2e7d32;
$COLOR-PALETTE-GREEN-900:  #1b5e20;
$COLOR-PALETTE-GREEN-A100: #b9f6ca;
$COLOR-PALETTE-GREEN-A200: #69f0ae;
$COLOR-PALETTE-GREEN-A400: #00e676;
$COLOR-PALETTE-GREEN-A700: #00c853;

$COLOR-PALETTE-LIGHT-GREEN-50:   #f1f8e9;
$COLOR-PALETTE-LIGHT-GREEN-100:  #dcedc8;
$COLOR-PALETTE-LIGHT-GREEN-200:  #c5e1a5;
$COLOR-PALETTE-LIGHT-GREEN-300:  #aed581;
$COLOR-PALETTE-LIGHT-GREEN-400:  #9ccc65;
$COLOR-PALETTE-LIGHT-GREEN-500:  #8bc34a;
$COLOR-PALETTE-LIGHT-GREEN-600:  #7cb342;
$COLOR-PALETTE-LIGHT-GREEN-700:  #689f38;
$COLOR-PALETTE-LIGHT-GREEN-800:  #558b2f;
$COLOR-PALETTE-LIGHT-GREEN-900:  #33691e;
$COLOR-PALETTE-LIGHT-GREEN-A100: #ccff90;
$COLOR-PALETTE-LIGHT-GREEN-A200: #b2ff59;
$COLOR-PALETTE-LIGHT-GREEN-A400: #76ff03;
$COLOR-PALETTE-LIGHT-GREEN-A700: #64dd17;

$COLOR-PALETTE-LIME-50:   #f9fbe7;
$COLOR-PALETTE-LIME-100:  #f0f4c3;
$COLOR-PALETTE-LIME-200:  #e6ee9c;
$COLOR-PALETTE-LIME-300:  #dce775;
$COLOR-PALETTE-LIME-400:  #d4e157;
$COLOR-PALETTE-LIME-500:  #cddc39;
$COLOR-PALETTE-LIME-600:  #c0ca33;
$COLOR-PALETTE-LIME-700:  #afb42b;
$COLOR-PALETTE-LIME-800:  #9e9d24;
$COLOR-PALETTE-LIME-900:  #827717;
$COLOR-PALETTE-LIME-A100: #f4ff81;
$COLOR-PALETTE-LIME-A200: #eeff41;
$COLOR-PALETTE-LIME-A400: #c6ff00;
$COLOR-PALETTE-LIME-A700: #aeea00;

$COLOR-PALETTE-YELLOW-50:   #fffde7;
$COLOR-PALETTE-YELLOW-100:  #fff9c4;
$COLOR-PALETTE-YELLOW-200:  #fff59d;
$COLOR-PALETTE-YELLOW-300:  #fff176;
$COLOR-PALETTE-YELLOW-400:  #ffee58;
$COLOR-PALETTE-YELLOW-500:  #ffeb3b;
$COLOR-PALETTE-YELLOW-600:  #fdd835;
$COLOR-PALETTE-YELLOW-700:  #fbc02d;
$COLOR-PALETTE-YELLOW-800:  #f9a825;
$COLOR-PALETTE-YELLOW-900:  #f57f17;
$COLOR-PALETTE-YELLOW-A100: #ffff8d;
$COLOR-PALETTE-YELLOW-A200: #ff0;
$COLOR-PALETTE-YELLOW-A400: #ffea00;
$COLOR-PALETTE-YELLOW-A700: #ffd600;

$COLOR-PALETTE-AMBER-50:   #fff8e1;
$COLOR-PALETTE-AMBER-100:  #ffecb3;
$COLOR-PALETTE-AMBER-200:  #ffe082;
$COLOR-PALETTE-AMBER-300:  #ffd54f;
$COLOR-PALETTE-AMBER-400:  #ffca28;
$COLOR-PALETTE-AMBER-500:  #ffc107;
$COLOR-PALETTE-AMBER-600:  #ffb300;
$COLOR-PALETTE-AMBER-700:  #ffa000;
$COLOR-PALETTE-AMBER-800:  #ff8f00;
$COLOR-PALETTE-AMBER-900:  #ff6f00;
$COLOR-PALETTE-AMBER-A100: #ffe57f;
$COLOR-PALETTE-AMBER-A200: #ffd740;
$COLOR-PALETTE-AMBER-A400: #ffc400;
$COLOR-PALETTE-AMBER-A700: #ffab00;

$COLOR-PALETTE-ORANGE-50:   #fff3e0;
$COLOR-PALETTE-ORANGE-100:  #ffe0b2;
$COLOR-PALETTE-ORANGE-200:  #ffcc80;
$COLOR-PALETTE-ORANGE-300:  #ffb74d;
$COLOR-PALETTE-ORANGE-400:  #ffa726;
$COLOR-PALETTE-ORANGE-500:  #ff9800;
$COLOR-PALETTE-ORANGE-600:  #fb8c00;
$COLOR-PALETTE-ORANGE-700:  #f57c00;
$COLOR-PALETTE-ORANGE-800:  #ef6c00;
$COLOR-PALETTE-ORANGE-900:  #e65100;
$COLOR-PALETTE-ORANGE-A100: #ffd180;
$COLOR-PALETTE-ORANGE-A200: #ffab40;
$COLOR-PALETTE-ORANGE-A400: #ff9100;
$COLOR-PALETTE-ORANGE-A700: #ff6d00;

$COLOR-PALETTE-DEEP-ORANGE-50:   #fbe9e7;
$COLOR-PALETTE-DEEP-ORANGE-100:  #ffccbc;
$COLOR-PALETTE-DEEP-ORANGE-200:  #ffab91;
$COLOR-PALETTE-DEEP-ORANGE-300:  #ff8a65;
$COLOR-PALETTE-DEEP-ORANGE-400:  #ff7043;
$COLOR-PALETTE-DEEP-ORANGE-500:  #ff5722;
$COLOR-PALETTE-DEEP-ORANGE-600:  #f4511e;
$COLOR-PALETTE-DEEP-ORANGE-700:  #e64a19;
$COLOR-PALETTE-DEEP-ORANGE-800:  #d84315;
$COLOR-PALETTE-DEEP-ORANGE-900:  #bf360c;
$COLOR-PALETTE-DEEP-ORANGE-A100: #ff9e80;
$COLOR-PALETTE-DEEP-ORANGE-A200: #ff6e40;
$COLOR-PALETTE-DEEP-ORANGE-A400: #ff3d00;
$COLOR-PALETTE-DEEP-ORANGE-A700: #dd2c00;

$COLOR-PALETTE-BROWN-50:   #efebe9;
$COLOR-PALETTE-BROWN-100:  #d7ccc8;
$COLOR-PALETTE-BROWN-200:  #bcaaa4;
$COLOR-PALETTE-BROWN-300:  #a1887f;
$COLOR-PALETTE-BROWN-400:  #8d6e63;
$COLOR-PALETTE-BROWN-500:  #795548;
$COLOR-PALETTE-BROWN-600:  #6d4c41;
$COLOR-PALETTE-BROWN-700:  #5d4037;
$COLOR-PALETTE-BROWN-800:  #4e342e;
$COLOR-PALETTE-BROWN-900:  #3e2723;

$COLOR-PALETTE-GREY-50:   #fafafa;
$COLOR-PALETTE-GREY-100:  #f5f5f5;
$COLOR-PALETTE-GREY-200:  #eee;
$COLOR-PALETTE-GREY-300:  #e0e0e0;
$COLOR-PALETTE-GREY-400:  #bdbdbd;
$COLOR-PALETTE-GREY-500:  #9e9e9e;
$COLOR-PALETTE-GREY-600:  #757575;
$COLOR-PALETTE-GREY-700:  #616161;
$COLOR-PALETTE-GREY-800:  #424242;
$COLOR-PALETTE-GREY-900:  #212121;

$COLOR-PALETTE-BLUE-GREY-50:   #eceff1;
$COLOR-PALETTE-BLUE-GREY-100:  #cfd8dc;
$COLOR-PALETTE-BLUE-GREY-200:  #b0bec5;
$COLOR-PALETTE-BLUE-GREY-300:  #90a4ae;
$COLOR-PALETTE-BLUE-GREY-400:  #78909c;
$COLOR-PALETTE-BLUE-GREY-500:  #607d8b;
$COLOR-PALETTE-BLUE-GREY-600:  #546e7a;
$COLOR-PALETTE-BLUE-GREY-700:  #455a64;
$COLOR-PALETTE-BLUE-GREY-800:  #37474f;
$COLOR-PALETTE-BLUE-GREY-900:  #263238;
